doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mavasha
  body
    
    section.section.homepage
      .homepage__inner      
        h1.animated-title
          span.animated-title__char
            | s
          span.animated-title__char
            | h
          span.animated-title__char
            | a
          span.animated-title__char
            | l
          span.animated-title__char
            | o
          span.animated-title__char
            | m
